{% extends 'base/base.html' %}

{% block content %}

<div class="container">
    <h1 class="center">Questionarious</h1>
    <br/>
    {% if submitted %}
        <div class="center">
            <p style="font-size:22px">Dear '{{user}}', your suggestion is ready!</p>
            <br><br><br>
            <a href="{% url 'suggestions:summary' %}" class="btn btn-primary"> SEE Result</a>
        </div>
    {% else %}
        <form action="" method=POST>
            {% csrf_token %}
            {{form.as_p}}
            <br><br>
            <div class="center">
                <a href="{%  url 'user:users-home' %}" class="btn btn-secondary">COME BACK</a>
                <input type="submit" value="SUBMIT" class="btn btn-primary">
            </div>
        </form>
    {% endif %}
    
</div>

{% endblock %}