{% extends 'base/base.html' %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link href="http://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet">
<script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js" ></script>
<h1>
    Questionarious
</h1>
<br/>
    {% if submitted %}
        We have canculated your suggestion!
        <div>
            <a href="{%  url 'user:users-home' %}" class="btn btn-primary"> SEE Gragh</a>
        </div>
    {% else %}
        <form action="" method=POST>
            {% csrf_token %}
              {{ form.as_p }}
            <br><br>
            <a href="{%  url 'user:users-home' %}" class="btn btn-secondary">COME BACK</a>
            <input type="submit" value="SUBMIT" class="btn btn-primary">

        </form>
    {% endif %}

{% endblock %}