<!DOCTYPE html>
<html>
<head>
<style>
.grid-container {
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: #2196D9;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
</style>
</head>
<body>

<div class="grid-container">
  <div class="grid-item">1</div>

  {% extends 'base/base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% block title %} Home Page {% endblock title%}
{% block content %}

<style>
.my-custom-scrollbar {
position: relative;
height: 300px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block
}
.btn-toolbar {
    position: absolute;
}
.calendar {
    position: 
}
</style>

    <div class="center">
        <div class="opaqueWhite" style=''>
            {{ cal|safe }}
        </div>
    </div>
    
        <br/><br/><br/>
    
    <div class="center">
        <p>
        Current time: {{ time }}
        </p>
        <h1 class="opaqueWhite" style="text-align: center">Health data</h1>
    </div>
    <div>
        <canvas id="Glucose"></canvas>
      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <script>
        const ctx = document.getElementById('Glucose');
      
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: {{date|safe}},
            datasets: [{
              label: 'Glucose',
              data: {{glucose|safe}},
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: false
              }
            }
          }
        });
      </script>
    <br/>
    <br/>
    <div class="center">
        <table class="table table-hover table-bordered" style="background-color: rgba(255, 255, 255, 0.8); width: 300px; margin-left:auto; margin-right:auto;">
            {% for data in health_data %}
                <tr>
                    <td>
                        <p style="color: black; font-size:22px">{{ data }}</p>
                    </td>
                    <td>
                        <p style="color: black; font-size:22px">{{ data.weight }}</p>
                    </td>
                    <td>
                        <p style="color: black; font-size:22px">{{ data.gl_level }}</p>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <br/>

    <div class="center" role="toolbar" aria-label="Toolbar with button groups">
        {% comment %} <div class="btn-group mr-2" role="group" aria-label="First group">
            <a href="{%  url 'home' %}" class="btn btn-secondary" >BACK</a>
        </div> {% endcomment %}
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <a href="{%  url 'dashboard:add-health-data' %}" class="btn btn-primary">ADD Data</a>
        </div>
    </div>
    <br/><br/><br/>
    </div>
        <div class="center">
        <p>
            Copyright (c) {{ current_year }}
        </p>
    </div>


{% endblock %}

  <div class="grid-item">2</div>
  <div class="grid-item">3</div>  
  <div class="grid-item">4</div>
  <div class="grid-item">5</div>
  <div class="grid-item">6</div>  
  <div class="grid-item">7</div>
  <div class="grid-item">8</div>
  <div class="grid-item">9</div>  
</div>

</body>
</html>